@charset "UTF-8";

body{ font-size:12px; font-family:"宋体"; }
label{ margin-right: 10px; }
input[type='text']{ height: 32px; width:128px; border:1px solid #ededed; }
h1{ margin: 20px 0px; font-size: 2em; }
h2{ font-size: 1.5em; }
h3{ font-size:1.17em; }
h4{ font-size: 1em; }
h5{ font-size:0.83em; }
h6{ font-size:0.67em; }
hr{ height:1px; border:0px; background-color:#D5D5D5; }

.btn-40,
.btn-40:visited{
  text-align: center;
  display: inline-block;
  border-radius: 7px;
  width: 77px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  background-color: #ff7f01;
  font-size: 14px;
  font-weight: bold;
}
.btn-40:hover,
.btn-40:active { background-color: #ff9328; }

.btn-30,
.btn-30:visited {
  text-align: center;
  display: baseline;
  border-radius: 7px;
  width: 68px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  outline: none;
  color: #fff;
  background-color: #ff7f01;
  font-size: 14px;
  font-weight: bold;
}
.btn-30:hover,
.btn-30:active { background-color: #ff9328; }

a:link{
  display: inline-block;
  color:#000;
  text-align: center;
  line-height: 18px;
  text-decoration: none;
}
a:active{ }
a:hover{ }
a:visited{ }



.list-item { height: 34px; line-height: 34px; vertical-align: middle; border: 1px solid #ededed; border-radius: 2px; background-image: -moz-linear-gradient(90deg, #d7d7d7 0%, #fafafa 100%); background-image: -webkit-linear-gradient(90deg, #d7d7d7 0%, #fafafa 100%); background-image: -ms-linear-gradient(90deg, #d7d7d7 0%, #fafafa 100%); background-color: #f0f0f0; padding-left: 10px; font-size: 16px; color: #ff7f01; font-weight: bold; margin-bottom: 20px; }
.list-item .collapse { margin-right: 10px; margin-top: 8px; float: right; width: 19px; height: 19px; background-color: #fff; background:url("/static/mis2/css/images/i-collapse.png"); }
.list-item .expand { margin-right: 10px; margin-top: 8px; float: right; width: 19px; height: 19px; background-color: #fff; background:url("/static/mis2/css/images/i-expand.png"); }
.input-normal { height: 32px; width: 128px; border: 2px solid #ededed; }


/*table*/
table{ margin:0; padding: 0; width: 100%; color: #999; border: 1px solid #ededed; padding:0; margin:0 auto; border-collapse: collapse; margin-bottom: 30px; }
table td,table th{ border: 1px solid #ededed; font-size:12px; padding: 3px 3px 3px 8px; color: #4f6b72; height: 30px; width: 80px; }

